.footer {
    background-color: var(--footer-color);
        &__container {
            display: block;
            margin: 0 auto;
            padding-top: 60px;
            padding-bottom: 60px;
            @media screen and (min-width: 768px) {
                    display: flex;
                    justify-content: center;
                    align-items: baseline;
                    flex-wrap: wrap;                    
                }            
                @media screen and (min-width: 1200px) {
                    display: flex;
                    align-items: baseline;
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
        }
        &__logo {
            display: block;
            margin: 0 auto;
            color: var(--logo-color);
            font-size: 26px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            font-family: "Raleway", sans-serif;
            text-decoration: none;
                @media screen and (min-width: 1200px) {
                    display: flex;
                    justify-content: left;                    
                }
        }
        &__studio {
            color: var(--adresa-color);
            font-size: 26px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            font-family: "Raleway", sans-serif;
            text-decoration: none;
        }
        &__social {
            width: 206px;
            height: 80px;
            margin: 0 auto;
            @media screen and (min-width: 768px) {
                    margin-left: 165px;
                }
            @media screen and (min-width: 1200px) {                    
                margin-left: 70px;
                }            
        }
        &__list {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 10px;
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            width: 44px;
            height: 44px;
            transition-property: color, background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                &:hover,
                &:focus {
                    background-color: var(--logo-color)
                }
        }
              
        &__svg {
            color: #FFFFFF;
        }
        &__subscribe {
            display: block;
            width: 450px;
            height: 156px;
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 20px;           
            @media screen and (min-width: 1200px) {                    
                    justify-content: left;
                    width: 570px;
                    height: 86px;
                    margin-left: 90px;
                }
        }
        &__p {
            display: flex;
            justify-content: center;
            font-family: 'Roboto';
            font-style: normal;
            color: var(--adresa-color);
            font-size: 14px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-bottom: 20px;
            @media screen and (min-width: 1200px) {
                    justify-content: left;
                    line-height: 1.14;
                }
        }
        &__field {
            display: block;
            margin: 0 auto;
                @media screen and (min-width: 1200px) {
                    display: flex;
                }
        }
        &__input {   
            display: block;         
            padding-top: 15px;
            padding-left: 16px;
            padding-bottom: 15px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            background: #2F303A;
            color: rgba(255, 255, 255, 0.6);
            outline: none;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0.03em;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            width: 358px;
            height: 50px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            @media screen and (min-width: 1200px) {                    
                display: flex;
                align-items: center;
                margin-bottom: 0px;
                    
                }
                &::placeholder {
                    font-family: 'Roboto';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.25;
                    letter-spacing: 0.03em;
                    color: rgba(255, 255, 255, 0.6);
                }
                &:focus {
                border-color: #FFFFFF;
                }
        }       
}

.addres {
    font-style: normal;    
        &__list {
            display: block;
            margin: 20px auto;
            @media screen and (min-width: 1200px) {
                    margin-top: 20px;
                }            
        }
        &__addres {
            display: block;
            padding-left: auto;
            padding-right: auto;
            margin: 0 auto;
            color: var(--adresa-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 1.7;
            letter-spacing: 0.03em;
            text-decoration: none;
            transition-property: color, background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        &__contact {
            color: var(--contact-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 1.7;
            letter-spacing: 0.03em;
            text-decoration: none;
            transition-property: color, background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.subscribe-button:hover,
.subscribe-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.svg-send {
    width: 24px;
    height: 24px;
    
    @media screen and (min-width: 1200px) {
            margin-left: 10px;
        }
}
