.main {
    margin-top: 96px;
    margin-bottom: 83px;
}

.button__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 34px;
    justify-content: center;
}

.button__items:not(:first-child) {
    margin-left: 8px;
}



.links-portfolio:hover,
.links-portfolio:focus {
    color: #FFFFFF;
    background-color: var(--logo-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-around;

        &__item {
        margin-bottom: 30px;
            &:not(:nth-child(3n)) {
                margin-right: 0px;
            }
        }
        &__link {
            display: block;
            text-decoration: none;
            transition-property: box-shadow;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            }
        }
        &__thumb {
            position: relative;
            width: 370px;
            overflow: hidden;
                &::before {
                    display: inline-block;
                    position: absolute;
                    top: 0%;
                    content: "";
                    width: 100%;
                    height: 294px;
                    background-color: rgba(33, 150, 243, 0.9);
                    transform: translateY(+100%);
                    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    opacity: 0;
                        
                }
        }
        &__description {
            position: absolute;
            content: "";
            display: inline-block;
            padding: 63px 23px;
            color: var(--adresa-color);
            font-size: 18px;
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: 0.03em;
            transform: translateY(+100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 0;
        }
        &__h2 {
            color: var(--primary-color);
            font-size: 18px;
            font-weight: 700;
            line-height: 2;
            letter-spacing: 0.06em;
            display: flex;
            padding-top: 20px;
            padding-left: 20px;        
        }

        &__p {
            color: var(--secondary-color);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.9;
            letter-spacing: 0.03em;
            display: flex;
            padding-top: 8px;
            padding-bottom: 20px;
            padding-left: 20px;
        }
}

.portfolio__item:hover .portfolio__description,
.portfolio__item:focus .portfolio__description {
    top: 0;
    opacity: 1;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__thumb::before,
.portfolio__item:focus .portfolio__thumb::before {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}


.border {
    border-bottom: 2px solid #EEEEEE;
    border-left: 2px solid #EEEEEE;
    border-right: 2px solid #EEEEEE;
    z-index: 1;
    position: relative;
    background-color: #FFFFFF;
}
